# Ignores files for VS Code extension packaging
# See https://code.visualstudio.com/api/working-with-extensions/publishing-extension#excluding-files
# ---
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.js
**/*.map
**/*.ts
**/.vscode-test.*

# Ignore workspace files
*.code-workspace

# Ignore configs
config
pnpm-lock.yaml

# Ignore coverage and test output
coverage/
**/test/

# Ignore GitHub workflows and release config
.github/
.releaserc.json